.container, #btn-numb-container { margin: 10px; }

img { text-align: center;  }

button:active { transform: scale(.85); }

button:hover { opacity: 0.85; }

button {
    border-radius: 50px;
    background: #6C63FF;
    border: 3px solid #8B85FF;
    width: 60px;
    height: 60px;
    font-size: 20px;
    font-weight: 550;
    margin: 10px;
    display: ;
    box-sizing: border-box;
    transition: all 0.3s ease;
    color: white;
}

html {
    background: rgb(5, 17, 40);
    color: rgb(190, 230, 256);
    font-family: Arial, sans-serif;
}

.text-container {
    background: rgb(8, 17, 50);
    height:80px;
    margin:0px 0px 0px 0px;
}
